Updates:
- 11 oct: change input file from p_transaction to p_transaction_2 --> reduce transaction with no changes from 800->400

- 20 Oct: started to code 
- 21 Oct 8pm-10pm : add in informatoon from Base Sitemap

In [1]:
q_time='2019-07-15 07:00:00'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

from scipy.stats import skew,kurtosis
import datetime
import re
import fnmatch

In [3]:
%matplotlib inline
# to view all columns
pd.set_option('display.max_columns',500)
plt.style.use('seaborn')

In [4]:
def summary_object(arg_df):
    
    object_list=[]
    category_list=[]
    bool_list=[]
    unilabel_list=[]
    missing_list=[]
    
    for c in arg_df.columns:
        if arg_df[c].dtypes==object:
            object_list.append(c)
        elif str(arg_df[c].dtypes)=='category':
            category_list.append(c)
        elif arg_df[c].dtypes==bool:
            bool_list.append(c)
    if len(object_list)+len(category_list)+len(bool_list)>0:    
        index_list=['Count','Unique','Missing (%)','Top','Top (%)','Bottom','Bottom (%)']
        df_summary=pd.DataFrame(data=np.zeros((len(index_list),len(object_list))),index=index_list,columns=object_list)

        for col in object_list+category_list+bool_list:
            vc=arg_df[col].value_counts().reset_index()
            df_summary.loc['Count',col]=(arg_df[col].count())
            df_summary.loc['Unique',col]=len(arg_df[col].unique())
            df_summary.loc['Missing (%)',col]=arg_df[col].isna().mean()*100
            df_summary.loc['Top',col]=vc.iloc[0,0]
            df_summary.loc['Top (%)',col]=vc.iloc[0,1]/len(arg_df)*100
            if len(arg_df[col].unique())>2:
                df_summary.loc['Bottom',col]=vc.iloc[-1,0]
                df_summary.loc['Bottom (%)',col]=vc.iloc[-1,1]/len(arg_df)*100
            elif (len(arg_df[col].unique())==2) & (df_summary.loc['Missing (%)',col]==0):
                df_summary.loc['Bottom',col]=vc.iloc[-1,0]
                df_summary.loc['Bottom (%)',col]=vc.iloc[-1,1]/len(arg_df)*100
            else:
                unilabel_list.append(col)
            if df_summary.loc['Missing (%)',col]==100:
                missing_list.append(col)
                
        df_summary=df_summary.T.sort_values(['Missing (%)','Unique'],ascending=False)
        df_summary=df_summary[(df_summary['Unique']>1) & (df_summary['Missing (%)']!=100)]
        df_summary.reset_index(inplace=True)
        df_summary.index=df_summary.index+1
        df_summary.columns=['Attribute']+index_list
        
        print('SUMMARY OF {} NON-NUMERICAL ATTRIBUTES:\n'.format(
            len(object_list)+len(category_list)+len(bool_list)))
        if len(object_list)>0:
            print('{} Object Columns'.format(len(object_list)))
        if len(category_list)>0:
            print('{} Categorical Columns'.format(len(category_list)))
        if len(bool_list)>0:
            print('{} Bool Columns'.format(len(bool_list)))
        if len(unilabel_list)>0:
            print('\n{} Columns with Single Label : \n{}'.format(len(unilabel_list),unilabel_list))
        if len(missing_list)>0:
            print('\n{} Empty Columns: \n{}'.format(len(missing_list),missing_list))   
            
        del arg_df,object_list,vc,index_list,unilabel_list,missing_list
        gc.collect()
        return df_summary
    else:
        print('No Non-Numerical Attributes')
'============================================================='        
def summary_numerical(arg_df):

    target_list=[]
    missing_list=[]
    zero_skew_list=[]
    
    for c in arg_df.columns:
        datatype=arg_df[c].dtypes
        if datatype != object and datatype != bool and str(datatype) != 'category' and str(datatype) !='datetime64[ns]':
            target_list.append(c)
    if len(target_list)>0:
        from scipy.stats import skew,kurtosis
        
        index_list=['Count','Missing (%)','Mean','Median','Min','Max','Skewness','Kurtosis']
        df_summary=pd.DataFrame(data=np.zeros((len(index_list),len(target_list))),
                                index=index_list,columns=target_list)
        for col in target_list:
            df_summary.loc['Count',col]=arg_df[col].count()
            df_summary.loc['Missing (%)',col]=arg_df[col].isna().mean()*100
            if df_summary.loc['Missing (%)',col]!=100:
                df_summary.loc['Mean',col]=arg_df[col].mean()
                df_summary.loc['Median',col]=arg_df[col].median()
                df_summary.loc['Min',col]=arg_df[col].min()
                df_summary.loc['Max',col]=arg_df[col].max()
                df_summary.loc['Skewness',col]=skew(arg_df[col])
                if df_summary.loc['Skewness',col]==0:
                    zero_skew_list.append(col)
                df_summary.loc['Kurtosis',col]=kurtosis(arg_df[col])
            else:
                missing_list.append(col)
                
        df_summary=df_summary.T.sort_values(['Missing (%)','Skewness'],ascending=False)
        df_summary=df_summary[(df_summary['Skewness']!=0) & (df_summary['Missing (%)']!=100)]
        df_summary.reset_index(inplace=True)
        df_summary.index=df_summary.index+1
        df_summary.columns=['Attribute']+index_list
        
        print('SUMMARY OF {} NUMERICAL ATTRIBUTES:'.format(len(target_list)))
        if len(zero_skew_list)>0:
            print('\n{} Columns with Single Value: \n{}'.format(len(zero_skew_list),zero_skew_list))
        if len(missing_list)>0:
            print('\n{} Empty Columns: \n{}'.format(len(missing_list),missing_list))
        del arg_df,target_list,index_list
        gc.collect()

        return df_summary
    else:
        print('No Numerical Attributes')
'==================================================================='        
def drop_unilable_column(arg_df):
    
    target_list=[]
    object_list=[]
    number_list=[]
    for c in arg_df.columns:
        if (arg_df[c].dtypes==object) | (str(arg_df[c].dtypes)=='category') | (arg_df[c].dtypes==bool):
            object_list.append(c)
        elif str(arg_df[c].dtypes)!='datetime64[ns]':
            number_list.append(c)
    if len(object_list)>0:    
        for c in object_list:
            if len(arg_df[c].unique())==1:
                target_list.append(c)
            elif (len(arg_df[c].unique())==2) & (arg_df[c].isna().mean()>0):
                target_list.append(c)
    
    if len(number_list)>0:   
        from scipy.stats import skew
        for c in number_list:
            if skew(arg_df[c])==0:
                target_list.append(c)
                
    if len(target_list)>0:
        arg_df.drop(columns=target_list,axis='columns',inplace=True)
        print('Drop {} Columns with Single Label:\n{}'.format(len(target_list),target_list))
    else: 
        print('No Columns with Single Label/Value')

    del target_list,object_list
'===================================================================' 
def drop_empty_column(arg_df):
    target_list=[]
    for c in arg_df.columns:
        if arg_df[c].count()==0:
            target_list.append(c)
    if len(target_list)>0:
        arg_df.drop(columns=target_list,axis=1,inplace=True)
        print('Delete {} Empty Column : \n{}'.format(len(target_list),target_list))
    else:
        print('No Empty Column')
'==================================================================='        
def drop_columns(arg_df,column_names):
    arg_df.drop(columns=column_names,axis='columns',inplace=True)
    print('Drop {} columns : \n{}'.format(len(column_names),column_names))
'============================================================='        
def extract_room_row(arg_df,col_position):
    '''To return unique Room-Row from standard Room-Row-Column-Height position data'''
    roomrow=[]
    roomrow=arg_df[col_position].apply(lambda x :x.split('-')[0]+'-'+x.split('-')[1] if '-' in x else x)
    roomrow=roomrow.unique().tolist()
    roomrow=pd.DataFrame(roomrow,columns=['Unique_Row']).sort_values(by='Unique_Row')
    return roomrow['Unique_Row'].values
'============================================================='  
def generate_dif_columns(arg_df,left_column,left_sffx,right_sffx):
    common_title=[]
    for idx,c in enumerate(left_column):
        common_title.append(left_column[idx].split(left_sffx)[0])
    print('There are {} common columns : \n{}'.format(len(left_column),common_title))

    for idx,c in enumerate(common_title):
        compare_col=common_title[idx].replace(' ','')
        arg_df['dif_'+compare_col]=(arg_df[c+left_sffx]!=arg_df[c+right_sffx]) & (arg_df[c+right_sffx].notna())
    print('\nColumns Generated : {}'.format(len(common_title)))
'==================================================================='        
def find_time_dif_hour(arg_df,ref_date,proc_date):
    new_date_attribute=[c.replace(' ','_') for c in proc_date]
    for idx,c in enumerate(proc_date):
        arg_df[new_date_attribute[idx]+'_hour']=arg_df[c]-arg_df[ref_date]
        arg_df[new_date_attribute[idx]+'_hour']=arg_df[new_date_attribute[idx]+'_hour'].astype('timedelta64[h]')

# 1) Import 2 dataset : trans and disp

In [5]:
path='C:/Users/Nan/Documents/GitHub_Data/'
file_1=path+'p_transaction_2.csv'
file_2=path+'p_dispatched_2.csv'
file_3=path+'Sitemap_July2019.csv'

filename_1=file_1
filename_2=file_2
filename_3=file_3

sffx_transaction='_Trsc'
sffx_dispatched='_Dptch'
target_process='FW'

In [6]:
filename_1

'C:/Users/Nan/Documents/GitHub_Data/p_transaction_2.csv'

In [7]:
trans=pd.read_csv(filename_1)
disp=pd.read_csv(filename_2)
sitemap=pd.read_csv(filename_3)

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
trans.shape

(207259, 48)

In [9]:
trans.head(2)

,Transaction Date Time,Customer Label Code,Dry Matter Code,Fruit,Fruit Per Pack,Fruit Size Code,Labelling Indicator Code,Location Mission Request Destination,Marketer Code,Material Number,New Value,Ok Until Date,Pack Code,Pack Date,Packed Fruit,Packhouse Code,Pack Label Code,Pack Make Code,Packs,Pallet Number,Pallet Rework Count,Plant Code,Previous Value,Protocol Code,Purchase Pool Code,Quality Inspection Indicator Code,Storage Method Code,Transaction Date,Transaction Sub Type Code,Trays,Username,Variety Code,Ok_Until_Date_day,Pack_Date_day,isDOINumber,Pack Style Code,Pack_Base,Stacking Configuration Code,isDayShift,Shift_Hour,Day_of_week,isWeekend,isActualMovement,isPackedFruitequalFruit,Previous_RoomRow,Previous_Column,Previous_Height,distance_to_driveway
0,2019-07-01 00:00:10,N,Y,13000,130,42,LG,na,ZIL,62853,Q02-03-4-1,2019-07-21 00:00:00,41236,2019-06-06 00:00:00,13000,3TPP,N,KC1,100,59717008,0,1103,Q02-03-3-1,N,01,A,CN,2019-07-01 00:00:10,MLA,309.52381,agubs,HW,19.0,-26.0,False,MB,E,N,False,0,Sun,True,True,True,Q02-03,3,1,10
1,2019-07-01 00:00:15,N,Y,9216,36,36,LG,na,ZIL,62809,Q14-15-9-2,2019-07-21 00:00:00,41717,2019-06-05 00:00:00,9216,3TPP,N,KC1,256,59708334,0,1103,Q14-02-10-1,N,01,A,CN,2019-07-01 00:00:15,MTA,256.00000,jaspsi,HW,19.0,-27.0,False,IT,E,3,False,0,Sun,True,True,True,Q14-02,10,1,3

In [10]:
disp.shape

(32251, 72)

In [11]:
disp.head(2)

,Pallet Number,Location Room Code,Location Row Code,Location Column,Location Height,Location Request Number,Storage Source Code,Pack Label Code,Pack Indicator Code,Clearance Protocol Code,Customer Label Code,Dry Matter Code,Storing Characteristic Code,CCKPassed Failed,Quality Inspection Indicator Code,Japan Sub Brand Code,Trial Packing Indicator Code,Marketer Code,Loadout Priority,Material Number,Material Group Code,Brand Code,Variety Code,Fruit Class Code,Fruit Size Code,Pack Category Code,Labelling Indicator Code,Purchase Pool Code,Pack Code,Growing Method,Packs Per Pallet,Maturity Indicator Code,Ok Until Date,Plant Code,Ignore Psr,Pack Type Code,Packed Fruit,Packed Trays,Packhouse Code,Pallet Card Reference,Fruit,Order Number,Order Line Number,Loadout Date,Shipment Type Code,Destination Port Code,Trucking Company Code,Packs,Full,Market Holds,Stacking Configuration Code,Pack Style Code,Pack Make Code,Load Start Date,Envelope Number,Container,Container Number,isDoi_Number,isInternal_Holds,isTemporary_Seal_Number,isTemperature_Recorder_Number,isLocation_Mission_Request_Destination,isRf_Id_Tag1,isPermanentSeal,Pallet Note,Pack_Base,Repack_Date_day,Last_Spqi_Date_day,Pack_Date_day,Doi_Clearance_Date_day,Tkl_Email_Date_day,Load_Start_Date_hour
0,54510208,Q27,A,11.0,1.0,na,CN,N,N,A,N,Y,P,na,A,N,N,ZIL,20,61600,Zespri,Z,GA,1,22,ENIJ,JB,16,10168,CK,200,C,2019-05-05 00:00:00,1103,False,ENIJKC3,4400,200.0,3TPP,3121DAY,4400,5146501,20,2019-03-28 13:00:00,1,JPTYO,PRHA,200,True,"KR, RE, Z7",N,IJ,KC3,2019-03-27 00:00:00,193017,na,na,False,False,False,False,False,True,False,False,E,NaN,NaN,-11.0,NaN,NaN,-37.0
1,54510260,UNKNOWN,na,na,0.0,na,CN,N,N,A,N,Y,P,na,A,N,N,ZIL,20,61577,Zespri,Z,GA,1,25,ENML,GR,16,10182,CK,160,C,2019-05-05 00:00:00,1103,False,ENMLKC6,6560,262.4,3TPP,3121DAY,6560,5166002,20,2019-04-03 16:00:00,18,SGSIN,TOLL,160,True,"KR, RE, Z7",N,ML,KC6,2019-04-02 00:00:00,193074,7839.0,PCIU6069215,False,False,True,True,False,True,False,False,E,NaN,NaN,-17.0,NaN,NaN,-40.0

### Data Processing so that common columns have same set of data label
    -change to string:Fruit Size Code_Trsc
    -truncate 0 at first position:Purchase Pool Code_Trsc
    -incorrect calculation as referring to dif,should remain in datetime: date columns(incl Ok_Until_Date_day,Pack_Date_day)

In [12]:
trans['Fruit Size Code']=trans['Fruit Size Code'].astype('str')
disp['Fruit Size Code']=disp['Fruit Size Code'].astype('str')

In [13]:
trans['Purchase Pool Code']=trans['Purchase Pool Code'].apply(lambda x:x.split('0')[1] if x[0]=='0' else x)
disp['Purchase Pool Code']=disp['Purchase Pool Code'].apply(lambda x:x.split('0')[1] if x[0]=='0' else x)

In [14]:
#drop_columns(disp,['Pack_Date_day', 'Ok_Until_Date_day'])
drop_columns(disp,['Pack_Date_day'])

Drop 1 columns :
['Pack_Date_day']

In [15]:
# to prevent OK Until Date with same date but dif time
trans['Ok Until Date']=pd.to_datetime(trans['Ok Until Date'],format='%Y-%m-%d %H:%M:%S')
disp['Ok Until Date']=pd.to_datetime(disp['Ok Until Date'],format='%Y-%m-%d %H:%M:%S')

In [16]:
trans['Ok Until Date']=trans['Ok Until Date'].dt.date
disp['Ok Until Date']=disp['Ok Until Date'].dt.date

In [17]:
## 12 Oct : comment out this bcs found out Packed Trays is 0 in disp
# disp.rename(index=str,columns={'Packed Trays':'Trays'},inplace=True)

In [18]:
trans['Transaction Date Time']=pd.to_datetime(trans['Transaction Date Time'],format='%Y-%m-%d %H:%M:%S')

## 2) Preprocess transactional data

In [19]:
trans.head(10)

,Transaction Date Time,Customer Label Code,Dry Matter Code,Fruit,Fruit Per Pack,Fruit Size Code,Labelling Indicator Code,Location Mission Request Destination,Marketer Code,Material Number,New Value,Ok Until Date,Pack Code,Pack Date,Packed Fruit,Packhouse Code,Pack Label Code,Pack Make Code,Packs,Pallet Number,Pallet Rework Count,Plant Code,Previous Value,Protocol Code,Purchase Pool Code,Quality Inspection Indicator Code,Storage Method Code,Transaction Date,Transaction Sub Type Code,Trays,Username,Variety Code,Ok_Until_Date_day,Pack_Date_day,isDOINumber,Pack Style Code,Pack_Base,Stacking Configuration Code,isDayShift,Shift_Hour,Day_of_week,isWeekend,isActualMovement,isPackedFruitequalFruit,Previous_RoomRow,Previous_Column,Previous_Height,distance_to_driveway
0,2019-07-01 00:00:10,N,Y,13000,130,42,LG,na,ZIL,62853,Q02-03-4-1,2019-07-21,41236,2019-06-06 00:00:00,13000,3TPP,N,KC1,100,59717008,0,1103,Q02-03-3-1,N,1,A,CN,2019-07-01 00:00:10,MLA,309.523810,agubs,HW,19.0,-26.0,False,MB,E,N,False,0,Sun,True,True,True,Q02-03,3,1,10
1,2019-07-01 00:00:15,N,Y,9216,36,36,LG,na,ZIL,62809,Q14-15-9-2,2019-07-21,41717,2019-06-05 00:00:00,9216,3TPP,N,KC1,256,59708334,0,1103,Q14-02-10-1,N,1,A,CN,2019-07-01 00:00:15,MTA,256.000000,jaspsi,HW,19.0,-27.0,False,IT,E,3,False,0,Sun,True,True,True,Q14-02,10,1,3
2,2019-07-01 00:00:29,N,Y,12650,115,39,LG,na,ZIL,65735,Q14-02-10-1,2019-07-14,76332,2019-06-01 00:00:00,12650,3TPP,N,KCT,110,59699489,0,1103,Q14-02-7-1,N,1,A,CN,2019-07-01 00:00:29,MLA,324.358974,jaspsi,HW,12.0,-31.0,False,BM,E,1,False,0,Sun,True,True,True,Q14-02,7,1,6
3,2019-07-01 00:00:30,N,Y,7800,78,27,GR,na,ZIL,61591,Q26-01-4-2,2019-07-07,10175,2019-05-26 00:00:00,7800,3TPP,N,KC1,100,59672352,0,1103,Q27-02-12-1,N,1,A,CN,2019-07-01 00:00:30,MTA,288.888889,mansot,HW,5.0,-37.0,False,MB,E,N,False,0,Sun,True,True,True,Q27-02,12,1,1
4,2019-07-01 00:00:37,N,Y,10200,102,36,LG,na,ZIL,62845,Q01-03-8-2,2019-07-21,41724,2019-06-05 00:00:00,10200,3TPP,N,KC1,100,59708617,2,1103,Q01-02-5-2,N,1,A,CN,2019-07-01 00:00:37,MTA,283.333333,yasms,HW,19.0,-27.0,False,MB,E,N,False,0,Sun,True,True,True,Q01-02,5,2,8
5,2019-07-01 00:00:39,N,Y,7540,52,33,GR,SPQI,ZIL,61554,UNKNOWN,2019-07-07,10193,2019-05-25 00:00:00,7540,3TPP,N,KC1,145,59669482,0,1103,ALLO,N,1,A,CN,2019-07-01 00:00:39,MLA,228.484848,teaio,HW,5.0,-38.0,False,P1,E,N,False,0,Sun,True,True,True,ALLO,na,na,na
6,2019-07-01 00:00:44,N,Y,13000,130,42,LG,na,ZIL,62853,Q02-16-6-2,2019-07-21,41236,2019-06-06 00:00:00,13000,3TPP,N,KC1,100,59717008,0,1103,Q02-03-4-1,N,1,A,CN,2019-07-01 00:00:44,MTA,309.523810,agubs,HW,19.0,-26.0,False,MB,E,N,False,0,Sun,True,True,True,Q02-03,4,1,9
7,2019-07-01 00:01:03,N,Y,6264,27,27,GR,na,ZIL,51182,Q02-03-3-2,2019-07-21,12494,2019-06-06 00:00:00,6264,3TPP,N,KC1,232,59718630,0,1103,Q02-03-2-2,N,1,A,CN,2019-07-01 00:01:03,MLA,232.000000,agubs,HW,19.0,-26.0,False,IT,E,N,False,0,Sun,True,True,True,Q02-03,2,2,11
8,2019-07-01 00:01:10,N,Y,12650,115,39,LG,na,ZIL,65735,UNKNOWN,2019-07-14,76332,2019-06-01 00:00:00,12650,3TPP,N,KCT,110,59699489,0,1103,Q14-02-10-1,N,1,A,CN,2019-07-01 00:01:10,MTA,324.358974,jaspsi,HW,12.0,-31.0,False,BM,E,1,False,0,Sun,True,True,True,Q14-02,10,1,3
9,2019-07-01 00:01:15,N,Y,8640,48,30,GR,na,ZIL,61541,Q03-16-7-1,2019-07-07,10202,2019-05-24 00:00:00,8640,3TPP,T,KC1,180,59444423,0,1103,UNKNOWN,N,1,A,CN,2019-07-01 00:01:15,MTA,288.000000,palgr,HW,5.0,-39.0,False,M2,E,2,False,0,Sun,True,True,True,UNKNOWN,na,na,na

### Add Query Time

In [20]:
df=trans.copy()

In [21]:
df['query_Time']=q_time

In [22]:
list_time=[c for c in list(df.columns) if 'Time' in c]
list_time
for c in list_time:
    df[c]=pd.to_datetime(df[c],format='%Y-%m-%d %H:%M:%S')

In [23]:
trans_prev=df.loc[df['Transaction Date Time']<df['query_Time']]
trans_prev.shape

(97304, 49)

In [24]:
trans_prev.head()

,Transaction Date Time,Customer Label Code,Dry Matter Code,Fruit,Fruit Per Pack,Fruit Size Code,Labelling Indicator Code,Location Mission Request Destination,Marketer Code,Material Number,New Value,Ok Until Date,Pack Code,Pack Date,Packed Fruit,Packhouse Code,Pack Label Code,Pack Make Code,Packs,Pallet Number,Pallet Rework Count,Plant Code,Previous Value,Protocol Code,Purchase Pool Code,Quality Inspection Indicator Code,Storage Method Code,Transaction Date,Transaction Sub Type Code,Trays,Username,Variety Code,Ok_Until_Date_day,Pack_Date_day,isDOINumber,Pack Style Code,Pack_Base,Stacking Configuration Code,isDayShift,Shift_Hour,Day_of_week,isWeekend,isActualMovement,isPackedFruitequalFruit,Previous_RoomRow,Previous_Column,Previous_Height,distance_to_driveway,query_Time
0,2019-07-01 00:00:10,N,Y,13000,130,42,LG,na,ZIL,62853,Q02-03-4-1,2019-07-21,41236,2019-06-06 00:00:00,13000,3TPP,N,KC1,100,59717008,0,1103,Q02-03-3-1,N,1,A,CN,2019-07-01 00:00:10,MLA,309.523810,agubs,HW,19.0,-26.0,False,MB,E,N,False,0,Sun,True,True,True,Q02-03,3,1,10,2019-07-15 07:00:00
1,2019-07-01 00:00:15,N,Y,9216,36,36,LG,na,ZIL,62809,Q14-15-9-2,2019-07-21,41717,2019-06-05 00:00:00,9216,3TPP,N,KC1,256,59708334,0,1103,Q14-02-10-1,N,1,A,CN,2019-07-01 00:00:15,MTA,256.000000,jaspsi,HW,19.0,-27.0,False,IT,E,3,False,0,Sun,True,True,True,Q14-02,10,1,3,2019-07-15 07:00:00
2,2019-07-01 00:00:29,N,Y,12650,115,39,LG,na,ZIL,65735,Q14-02-10-1,2019-07-14,76332,2019-06-01 00:00:00,12650,3TPP,N,KCT,110,59699489,0,1103,Q14-02-7-1,N,1,A,CN,2019-07-01 00:00:29,MLA,324.358974,jaspsi,HW,12.0,-31.0,False,BM,E,1,False,0,Sun,True,True,True,Q14-02,7,1,6,2019-07-15 07:00:00
3,2019-07-01 00:00:30,N,Y,7800,78,27,GR,na,ZIL,61591,Q26-01-4-2,2019-07-07,10175,2019-05-26 00:00:00,7800,3TPP,N,KC1,100,59672352,0,1103,Q27-02-12-1,N,1,A,CN,2019-07-01 00:00:30,MTA,288.888889,mansot,HW,5.0,-37.0,False,MB,E,N,False,0,Sun,True,True,True,Q27-02,12,1,1,2019-07-15 07:00:00
4,2019-07-01 00:00:37,N,Y,10200,102,36,LG,na,ZIL,62845,Q01-03-8-2,2019-07-21,41724,2019-06-05 00:00:00,10200,3TPP,N,KC1,100,59708617,2,1103,Q01-02-5-2,N,1,A,CN,2019-07-01 00:00:37,MTA,283.333333,yasms,HW,19.0,-27.0,False,MB,E,N,False,0,Sun,True,True,True,Q01-02,5,2,8,2019-07-15 07:00:00

In [25]:
temp_df=trans_prev.groupby('New Value')['Transaction Date Time','Pallet Number'].last()

In [26]:
temp_df_2=trans_prev.groupby('Previous Value')['Transaction Date Time','Pallet Number'].last()

In [27]:
temp_df.reset_index(inplace=True)
temp_df_2.reset_index(inplace=True)

In [28]:
df_merge=temp_df.merge(temp_df_2,how='outer',left_on='New Value',right_on='Previous Value',suffixes=('_To', '_From'))
df_merge.sample(5)

,New Value,Transaction Date Time_To,Pallet Number_To,Previous Value,Transaction Date Time_From,Pallet Number_From
9011,Q19-15-8-1,2019-07-12 00:57:18,59729414.0,Q19-15-8-1,2019-07-11 23:56:55,59727229.0
12818,Q27-11-10-1,2019-07-04 21:12:12,57412226.0,Q27-11-10-1,2019-07-09 07:28:29,57412226.0
14133,Q29-21-12-2,2019-07-04 09:58:52,56843946.0,Q29-21-12-2,2019-07-04 23:21:25,56843946.0
13958,Q29-14-12-2,2019-07-04 14:26:14,57001376.0,Q29-14-12-2,2019-07-04 20:10:58,57001376.0
5564,Q10-22-13-1,2019-07-10 19:55:59,58505088.0,Q10-22-13-1,2019-07-10 19:56:21,58505088.0

In [29]:
summary_numerical(df_merge)

SUMMARY OF 2 NUMERICAL ATTRIBUTES:

,Attribute,Count,Missing (%),Mean,Median,Min,Max,Skewness,Kurtosis
1,Pallet Number_To,14755.0,12.908747,5.930086e+07,59430303.0,53179215.0,98001396.0,NaN,NaN
2,Pallet Number_From,16679.0,1.552355,5.904448e+07,58505453.0,53179215.0,98001396.0,NaN,NaN

In [30]:
summary_object(df_merge)

SUMMARY OF 2 NON-NUMERICAL ATTRIBUTES:

2 Object Columns

,Attribute,Count,Unique,Missing (%),Top,Top (%),Bottom,Bottom (%)
1,New Value,14755,14756,12.9087,Q05-07-8-1,0.00590249,Q21-A-7-1,0.00590249
2,Previous Value,16679,16680,1.55236,Q05-07-8-1,0.00590249,Q21-A-7-1,0.00590249

In [31]:
df_merge['Pallet Number_To']=df_merge['Pallet Number_To'].fillna(0)
df_merge['Pallet Number_From']=df_merge['Pallet Number_From'].fillna(0)
df_merge['New Value']=df_merge['New Value'].fillna('na')
df_merge['Previous Value']=df_merge['Previous Value'].fillna('na')

In [32]:
df_merge.sample(5)

,New Value,Transaction Date Time_To,Pallet Number_To,Previous Value,Transaction Date Time_From,Pallet Number_From
10125,Q21-22-11-1,2019-07-13 19:31:37,57381034.0,Q21-22-11-1,2019-07-13 19:31:51,57381034.0
5514,Q10-20-12-1,2019-07-11 08:28:19,57125577.0,Q10-20-12-1,2019-07-13 22:56:26,57125577.0
6050,Q11-22-8-1,2019-07-11 21:11:36,57425400.0,Q11-22-8-1,2019-07-14 04:07:24,57425400.0
4147,Q08-07-2-1,2019-07-13 19:54:47,57363726.0,Q08-07-2-1,2019-07-13 16:35:49,59685970.0
5688,Q11-04-11-2,2019-07-01 01:28:49,57430039.0,Q11-04-11-2,2019-07-04 22:27:31,57430039.0

In [33]:
def checkOccupancy(df):
    if df['New Value']==0:
        df['isEmpty']=1
    elif df['Previous Value']==0:
        df['isEmpty']=0
    else:
        if df['Transaction Date Time_To']>df['Transaction Date Time_From']:
            df['isEmpty']=0
        else:
            df['isEmpty']=1

In [34]:
#df_merge['isEmpty']=0
#df_merge.loc[df_merge['New Value']=='na','isEmpty']=1
#df_merge.loc[df_merge['Transaction Date Time_To']<df_merge['Transaction Date Time_From'],'isEmpty']=1

In [35]:
df_merge['isOccupied']='na'
df_merge.loc[df_merge['New Value']=='na','isOccupied']=0
df_merge.loc[df_merge['Previous Value']=='na','isOccupied']=1
df_merge.loc[df_merge['Transaction Date Time_To']<df_merge['Transaction Date Time_From'],'isOccupied']=0
df_merge.loc[df_merge['Transaction Date Time_To']>df_merge['Transaction Date Time_From'],'isOccupied']=1

In [36]:
df_merge[(df_merge['Pallet Number_To']==53191170)|(df_merge['Pallet Number_From']==53191170)]

,New Value,Transaction Date Time_To,Pallet Number_To,Previous Value,Transaction Date Time_From,Pallet Number_From,isOccupied
2150,Q04-16-4-1,2019-07-11 14:47:21,53191170.0,Q04-16-4-1,2019-07-02 16:11:58,59744370.0,1
2208,Q04-19-2-2,2019-07-01 17:48:04,53191170.0,Q04-19-2-2,2019-07-02 15:20:01,53191170.0,0

In [37]:
df_merge.loc[df_merge['Transaction Date Time_To']<df_merge['Transaction Date Time_From'],:]

,New Value,Transaction Date Time_To,Pallet Number_To,Previous Value,Transaction Date Time_From,Pallet Number_From,isOccupied
0,ALLO,2019-07-12 11:11:53,59718258.0,ALLO,2019-07-12 11:14:30,59718258.0,0
1,CA01,2019-07-01 11:29:58,59712089.0,CA01,2019-07-01 13:24:23,59724754.0,0
3,CA03,2019-07-13 15:41:16,57397721.0,CA03,2019-07-13 15:41:34,57397721.0,0
4,CA05,2019-07-09 09:41:56,59736047.0,CA05,2019-07-09 09:42:01,59736047.0,0
5,CA06,2019-07-14 19:25:36,57349508.0,CA06,2019-07-14 19:25:43,57349508.0,0
7,CA11,2019-07-05 14:20:01,59428768.0,CA11,2019-07-05 15:07:49,59428768.0,0
8,CA16,2019-07-12 14:32:39,56830762.0,CA16,2019-07-12 14:32:48,56830762.0,0
9,CA17,2019-07-13 15:16:47,59732018.0,CA17,2019-07-13 15:17:00,59732018.0,0
10,CA18,2019-07-06 16:04:59,57398704.0,CA18,2019-07-07 20:18:38,57398704.0,0
11,CHRTR,2019-07-15 06:38:35,57403583.0,CHRTR,2019-07-15 06:45:00,57363320.0,0
12,CONTR,2019-07-15 05:57:21,57352607.0,CONTR,2019-07-15 06:56:33,57127816.0,0
13,CSOF,2019-07-12 15:38:18,59671508.0,CSOF,2019-07-12 16:05:28,56991470.0,0
14,DA1,2019-07-11 12:23:18,59703254.0,DA1,2019-07-11 14:03:23,59703254.0,0
15,DA2,2019-07-09 11:04:56,58510914.0,DA2,2019-07-09 11:05:52,58510914.0,0
16,DA3,2019-07-14 15:42:25,59749719.0,DA3,2019-07-14 16:09:41,59749719.0,0
17,FW,2019-07-15 05:44:26,57367687.0,FW,2019-07-15 06:39:26,57367687.0,0
18,H51,2019-07-15 04:01:31,58504838.0,H51,2019-07-15 04:03:29,58504838.0,0
19,H52,2019-07-15 03:48:07,58505446.0,H52,2019-07-15 03:58:15,58505446.0,0
20,LAB,2019-07-13 15:26:40,57436703.0,LAB,2019-07-13 15:26:45,57436703.0,0
21,LO1,2019-07-13 18:14:37,58507501.0,LO1,2019-07-13 20:29:01,57427138.0,0
22,LO2,2019-07-15 03:49:54,58504838.0,LO2,2019-07-15 03:59:36,58504838.0,0
24,MIDCNPY,2019-07-15 02:13:46,57361210.0,MIDCNPY,2019-07-15 02:37:56,57362743.0,0
27,P01-04-8-1,2019-07-10 15:28:19,58505088.0,P01-04-8-1,2019-07-10 15:29:38,58505088.0,0
28,P01-05-8-1,2019-07-10 15:13:20,58505088.0,P01-05-8-1,2019-07-10 15:28:19,58505088.0,0
29,P01-06-8-1,2019-07-10 15:10:39,58504142.0,P01-06-8-1,2019-07-10 15:30:19,58504142.0,0
30,P01-08-8-1,2019-07-10 15:31:02,58504067.0,P01-08-8-1,2019-07-10 15:31:27,58504067.0,0
31,P01-10-8-1,2019-07-13 21:16:00,57388156.0,P01-10-8-1,2019-07-13 21:16:16,57388156.0,0
42,P01-11-8-1,2019-07-13 21:11:45,57390760.0,P01-11-8-1,2019-07-13 21:16:29,57390630.0,0
50,P01-12-7-1,2019-07-11 02:11:43,57392160.0,P01-12-7-1,2019-07-11 02:11:55,57392160.0,0
52,P01-12-8-1,2019-07-13 21:07:52,57138539.0,P01-12-8-1,2019-07-13 21:11:45,57390760.0,0
...,...,...,...,...,...,...,...
14718,ZT02-21-6-1,2019-07-09 08:59:45,57358005.0,ZT02-21-6-1,2019-07-13 15:30:25,57429897.0,0
14719,ZT02-21-6-2,2019-07-09 08:59:17,57358159.0,ZT02-21-6-2,2019-07-13 10:11:35,57358159.0,0
14720,ZT02-27-5-2,2019-07-09 08:31:43,58507198.0,ZT02-27-5-2,2019-07-12 14:45:12,58507198.0,0
14721,ZT02-27-6-1,2019-07-09 08:31:53,58507020.0,ZT02-27-6-1,2019-07-12 14:47:30,58507020.0,0
14722,ZT02-27-6-2,2019-07-09 08:30:12,57353314.0,ZT02-27-6-2,2019-07-12 14:45:47,57353314.0,0
14723,ZT02-32-5-1,2019-07-09 08:50:41,57348310.0,ZT02-32-5-1,2019-07-12 11:31:05,57348310.0,0
14725,ZT02-32-6-1,2019-07-09 08:50:58,57349232.0,ZT02-32-6-1,2019-07-12 11:32:07,57349232.0,0
14726,ZT02-32-6-2,2019-07-09 08:51:07,57356131.0,ZT02-32-6-2,2019-07-12 11:44:00,57356131.0,0
14727,ZT02-33-4-2,2019-07-09 08:34:08,57438370.0,ZT02-33-4-2,2019-07-12 11:02:39,57438370.0,0
14728,ZT02-33-5-1,2019-07-09 08:34:22,57438417.0,ZT02-33-5-1,2019-07-12 11:42:35,57417160.0,0
14729,ZT02-33-5-2,2019-07-09 08:35:36,57135965.0,ZT02-33-5-2,2019-07-12 11:28:02,57135965.0,0
14730,ZT02-33-6-1,2019-07-09 08:50:13,57355301.0,ZT02-33-6-1,2019-07-11 15:37:27,57355301.0,0
14731,ZT02-33-6-2,2019-07-09 08:50:20,57358012.0,ZT02-33-6-2,2019-07-12 11:25:27,57358012.0,0
14737,ZT02-35-5-1,2019-07-09 08:34:53,57433740.0,ZT02-35-5-1,2019-07-11 15:34:31,57433740.0,0
14738,ZT02-35-5-2,2019-07-09 08:34:41,57429194.0,ZT02-35-5-2,2019-07-11 15:35:01,57429194.0,0
14739,ZT02-35-6-1,2019-07-09 08:39:49,57135774.0,ZT02-35-6-1,2019-07-11 15:05:14,57135774.0,0
14740,ZT02-35-6-2,2019-07-09 08:39:58,57136207.0,ZT02-35-6-2,2019-07-11 15:33:56,57136207.0,0
14741,ZT02-36-5-1,2019-07-09 08:38:02,57436888.0,ZT02-36-5-1,2019-07-12 22:27:00,57436888.0,0
14742,ZT02-36-5-2,2019-07-09 08:37:39,58508188.0,ZT02-36-5-2,2019-07-11 15:31:26,58508188.0,0
14743,ZT02-36-6-1,2019-07-09 08:37:20,57354533.0,ZT02-36-6-1,2019-07-11 15:41:16,57438493.0,0
14745,ZT02-39-6-1,2019-07-09 08:33:27,57135811.0,ZT02-39-6-1,2019-07-12 11:06:23,57135811.0,0
14746,ZT02-39-6-2,2019-07-09 08:33:36,57353291.0,ZT02-39-6-2,2019-07-09 11:03:45,57353291.0,0
14747,ZT02-40-3-2,2019-07-09 08:32:11,57356414.0,ZT02-40-3-2,2019-07-12 15:25:47,57356414.0,0
14748,ZT02-40-4-1,2019-07-09 08:32:30,57344527.0,ZT02-40-4-1,2019-07-12 16:10:40,57371813.0,0
14749,ZT02-40-4-2,2019-07-09 08:32:19,57344114.0,ZT02-40-4-2,2019-07-12 16:09:44,57373299.0,0
14750,ZT02-40-5-1,2019-07-09 08:35:49,57354113.0,ZT02-40-5-1,2019-07-12 16:23:36,57409714.0,0
14751,ZT02-40-5-2,2019-07-09 08:32:43,57138348.0,ZT02-40-5-2,2019-07-12 15:27:42,57138348.0,0
14752,ZT02-40-6-1,2019-07-09 08:33:10,57358531.0,ZT02-40-6-1,2019-07-12 10:59:03,57358531.0,0
14753,ZT02-40-6-2,2019-07-09 08:32:54,57358609.0,ZT02-40-6-2,2019-07-11 14:53:13,57358609.0,0
14754,ZTMISS,2019-07-09 10:55:05,57346095.0,ZTMISS,2019-07-11 16:57:04,57346095.0,0

In [38]:
drop_columns(df_merge,['New Value'])
df_merge.rename(index=str,columns={'Previous Value':'Location'},inplace=True)

Drop 1 columns :
['New Value']

In [39]:
df_merge[df_merge['isOccupied']=='na']

,Transaction Date Time_To,Pallet Number_To,Location,Transaction Date Time_From,Pallet Number_From,isOccupied
3241,2019-07-14 09:51:00,59724112.0,Q06-15-1-2,2019-07-14 09:51:00,59724112.0,na
4775,2019-07-08 19:13:25,57403972.0,Q09-10-1-2,2019-07-08 19:13:25,57403972.0,na
7549,2019-07-09 14:44:01,59682276.0,Q16-02-2-2,2019-07-09 14:44:01,59682276.0,na
7977,2019-07-14 13:54:28,80003317.0,Q17-02-11-2,2019-07-14 13:54:28,80003317.0,na
8793,2019-07-12 20:27:10,59738225.0,Q19-04-9-2,2019-07-12 20:27:10,59738225.0,na
9491,2019-07-14 00:07:05,59684584.0,Q20-17-7-2,2019-07-14 00:07:05,59684584.0,na
10787,2019-07-14 17:09:15,59440777.0,Q23-06-6-2,2019-07-14 17:09:15,59440777.0,na
13862,2019-07-13 12:58:56,56992163.0,Q29-10-2-2,2019-07-13 12:58:56,56992163.0,na
13887,2019-07-13 12:57:58,57355875.0,Q29-11-2-2,2019-07-13 12:57:58,57355875.0,na
13888,2019-07-13 13:05:59,57371660.0,Q29-11-3-1,2019-07-13 13:05:59,57371660.0,na
13889,2019-07-13 13:05:36,58508140.0,Q29-11-3-2,2019-07-13 13:05:36,58508140.0,na
13911,2019-07-13 12:59:24,57137303.0,Q29-12-2-2,2019-07-13 12:59:24,57137303.0,na
13912,2019-07-13 13:04:43,57363016.0,Q29-12-3-1,2019-07-13 13:04:43,57363016.0,na
13913,2019-07-13 13:08:41,57418631.0,Q29-12-3-2,2019-07-13 13:08:41,57418631.0,na

In [40]:
df_merge.shape

(16942, 6)

### Filter Out Location with Hyphen

In [41]:
df_merge['Location'].isna().sum()

0

In [42]:
df_merge.columns

Index(['Transaction Date Time_To', 'Pallet Number_To', 'Location',
       'Transaction Date Time_From', 'Pallet Number_From', 'isOccupied'],
      dtype='object')

In [43]:
df=df_merge.loc[df_merge['Location'].str.contains('-'),:]

### Derive Room Code

In [44]:
df['Location_List']=df['Location'].str.split('-')

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
df.head(5)

,Transaction Date Time_To,Pallet Number_To,Location,Transaction Date Time_From,Pallet Number_From,isOccupied,Location_List
27,2019-07-10 15:28:19,58505088.0,P01-04-8-1,2019-07-10 15:29:38,58505088.0,0,"[P01, 04, 8, 1]"
28,2019-07-10 15:13:20,58505088.0,P01-05-8-1,2019-07-10 15:28:19,58505088.0,0,"[P01, 05, 8, 1]"
29,2019-07-10 15:10:39,58504142.0,P01-06-8-1,2019-07-10 15:30:19,58504142.0,0,"[P01, 06, 8, 1]"
30,2019-07-10 15:31:02,58504067.0,P01-08-8-1,2019-07-10 15:31:27,58504067.0,0,"[P01, 08, 8, 1]"
31,2019-07-13 21:16:00,57388156.0,P01-10-8-1,2019-07-13 21:16:16,57388156.0,0,"[P01, 10, 8, 1]"

In [46]:
df['Location_List'].map(lambda x:x[0])

27        P01
28        P01
29        P01
30        P01
31        P01
32        P01
33        P01
34        P01
35        P01
36        P01
37        P01
38        P01
39        P01
40        P01
41        P01
42        P01
43        P01
44        P01
45        P01
46        P01
47        P01
48        P01
49        P01
50        P01
51        P01
52        P01
53        P01
54        P01
55        P01
56        P01
         ...
16912    ZT03
16913    ZT03
16914    ZT03
16915    ZT03
16916    ZT03
16917    ZT03
16918    ZT03
16919    ZT03
16920    ZT03
16921    ZT03
16922    ZT03
16923    ZT03
16924    ZT03
16925    ZT03
16926    ZT03
16927    ZT03
16928    ZT03
16929    ZT03
16930    ZT03
16931    ZT03
16932    ZT03
16933    ZT03
16934    ZT03
16935    ZT03
16936    ZT03
16937    ZT03
16938    ZT03
16939    ZT03
16940    ZT03
16941    ZT03
Name: Location_List, Length: 16646, dtype: object

In [47]:
df['Room']=df['Location_List'].apply(lambda x:x[0])
df['Row']=df['Location_List'].apply(lambda x:x[1])
df['Column']=df['Location_List'].apply(lambda x:x[2])
df['Height']=df['Location_List'].apply(lambda x:x[3])
df['Room_Row']=df['Location'].map(lambda x:x[:-2])

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [48]:
df['Column']=df['Column'].astype('int')
df['Height']=df['Height'].astype('int')

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Handle Position that is occupied by Pallet Being Removed without record

In [49]:
#temp_df=df[['Location','Transaction Date Time_To','Pallet Number_To','isOccupied']].loc[df['isOccupied']==1,:]

In [50]:
temp_df=df.copy()

In [51]:
temp_df.shape

(16646, 12)

In [52]:
temp_df[temp_df[['Pallet Number_To']].duplicated()]['Pallet Number_To'].value_counts()

0.0           2185
56995799.0      12
57434396.0       8
59685970.0       8
59685765.0       8
59728233.0       7
57138577.0       7
57404344.0       7
57425219.0       7
57390463.0       7
58505262.0       7
56603991.0       7
57026379.0       7
59428546.0       7
59678187.0       6
57129889.0       6
57390210.0       6
57120268.0       6
57424793.0       6
57437939.0       6
57363269.0       6
57438509.0       6
57123634.0       6
57365287.0       6
59699823.0       6
57398834.0       6
57000614.0       6
59429567.0       6
59444294.0       6
59671768.0       6
              ...
59743397.0       1
59737914.0       1
58508393.0       1
57420382.0       1
57135477.0       1
59330269.0       1
57380044.0       1
59668607.0       1
59628403.0       1
57380723.0       1
58505309.0       1
58505385.0       1
58505514.0       1
58506009.0       1
58508126.0       1
59632943.0       1
58507907.0       1
58507853.0       1
58507587.0       1
58507563.0       1
58507495.0       1
58507334.0       1
59742956.0       1
58506719.0       1
58506634.0       1
59737389.0       1
58506429.0       1
58506221.0       1
58506153.0       1
57405303.0       1
Name: Pallet Number_To, Length: 3482, dtype: int64

In [53]:
df[df['Pallet Number_To']==53191170]

,Transaction Date Time_To,Pallet Number_To,Location,Transaction Date Time_From,Pallet Number_From,isOccupied,Location_List,Room,Row,Column,Height,Room_Row
2150,2019-07-11 14:47:21,53191170.0,Q04-16-4-1,2019-07-02 16:11:58,59744370.0,1,"[Q04, 16, 4, 1]",Q04,16,4,1,Q04-16-4
2208,2019-07-01 17:48:04,53191170.0,Q04-19-2-2,2019-07-02 15:20:01,53191170.0,0,"[Q04, 19, 2, 2]",Q04,19,2,2,Q04-19-2

In [54]:
temp_df_2=temp_df.groupby('Pallet Number_To')['Transaction Date Time_To'].max()

In [55]:
temp_df_2=temp_df_2.to_frame().reset_index()

In [56]:
temp_df_2['isLatest']=1
temp_df_2.shape

(8909, 3)

In [57]:
temp_df_2[temp_df_2['Pallet Number_To']==53191170]

    Pallet Number_To Transaction Date Time_To  isLatest
10        53191170.0      2019-07-11 14:47:21         1

In [58]:
df=temp_df.merge(temp_df_2,how='left',on=['Pallet Number_To','Transaction Date Time_To'])

In [59]:
df.loc[df['isOccupied']==0,'isLatest']=1

In [60]:
print('Total Invalid Position Occupancy : {} '.format(len(df.loc[df['isLatest']!=1,:])))
print(df.loc[df['isLatest']!=1,:])

Total Invalid Position Occupancy : 51
      Transaction Date Time_To  Pallet Number_To     Location  \
123        2019-07-13 20:48:27        57349683.0   P04-02-3-1
225        2019-07-13 03:37:22        59690011.0  Q01-03-13-1
242        2019-07-13 03:46:12        59693128.0  Q01-04-12-2
628        2019-07-11 22:51:35        59727236.0   Q01-20-3-1
636        2019-07-12 15:27:31        59730687.0   Q01-20-7-1
641        2019-07-12 02:07:33        59730076.0   Q01-20-9-2
854        2019-07-14 11:09:08        59675667.0  Q02-05-12-2
2300       2019-07-14 10:51:06        59166950.0   Q05-04-1-2
2317       2019-07-14 11:33:40        59439658.0   Q05-04-6-2
2342       2019-07-14 09:30:45        59701199.0   Q05-05-6-2
2348       2019-07-14 09:57:19        59701328.0   Q05-05-9-2
2397       2019-07-12 20:54:31        59714144.0   Q05-07-9-1
2458       2019-07-10 12:28:16        59728233.0  Q05-10-13-1
2477       2019-07-14 09:12:25        59741218.0  Q05-11-10-1
2482       2019-07-13 05:02:10        59740907.0  Q05-11-12-2
2555       2019-07-12 14:48:27        59729087.0   Q05-14-3-2
2559       2019-07-14 09:23:44        59732308.0   Q05-14-5-2
2576       2019-07-13 09:12:18        59678187.0  Q05-15-13-1
2768       2019-07-07 23:54:11        57425318.0   Q05-22-8-2
3068       2019-07-14 13:57:21        57394959.0  Q06-11-11-1
3906       2019-07-14 19:49:43        57413933.0   Q08-01-6-2
3907       2019-07-14 19:49:51        57413933.0   Q08-01-7-1
4182       2019-07-14 04:08:02        57422362.0   Q08-14-5-2
4436       2019-07-13 16:12:38        57424793.0    Q08-A-2-1
4443       2019-07-08 16:43:42        56995447.0    Q08-A-9-1
4961       2019-07-10 11:57:17        57026379.0  Q09-24-13-2
5466       2019-07-11 01:04:47        57004681.0   Q10-A-10-1
5649       2019-07-04 12:17:50        58512543.0  Q11-09-12-2
5880       2019-07-10 22:49:49        57348426.0  Q11-22-11-1
5947       2019-07-04 12:06:27        57403118.0  Q12-01-12-1
6403       2019-07-06 15:05:26        58510785.0  Q12-20-13-1
7248       2019-07-01 14:21:15        57359330.0  Q15-17-13-1
7883       2019-07-13 11:10:31        57432651.0   Q17-11-8-1
8450       2019-07-08 16:51:43        59707856.0    Q18-A-1-1
9584       2019-07-07 21:06:06        57391422.0  Q21-09-13-1
9739       2019-07-07 02:27:18        57134319.0  Q21-16-13-1
10245      2019-07-08 23:07:14        57375057.0  Q22-15-12-1
11392      2019-07-15 01:09:07        57302787.0  Q25-07-11-2
11419      2019-07-12 01:48:14        57437939.0  Q25-08-12-1
11441      2019-07-15 01:09:04        57302787.0  Q25-09-11-1
11445      2019-07-11 11:35:38        57369520.0  Q25-09-13-1
11487      2019-07-12 00:58:31        57423048.0  Q25-11-10-2
11527      2019-07-12 00:57:58        57137358.0   Q25-12-9-2
11758      2019-07-12 03:17:00        56832667.0  Q25-23-10-2
11866      2019-07-01 03:13:47        59693210.0  Q26-03-12-2
12293      2019-07-10 12:26:35        59728233.0    Q26-A-7-1
12433      2019-07-09 23:57:24        59724990.0   Q27-06-5-2
13722      2019-07-11 21:13:02        57008979.0  Q29-16-10-1
14234      2019-07-09 14:00:14        59715677.0  Q30-17-13-1
14332      2019-07-12 20:07:13        59640252.0  Q30-23-11-2
14379      2019-07-14 08:52:37        57372179.0    Q30-A-4-1

      Transaction Date Time_From  Pallet Number_From isOccupied  \
123          2019-07-13 20:47:24          57350924.0          1
225          2019-07-05 10:20:52          57425059.0          1
242          2019-07-13 01:50:52          59691032.0          1
628          2019-07-11 14:11:14          57359729.0          1
636          2019-07-12 15:27:27          59730687.0          1
641          2019-07-11 10:21:09          57388088.0          1
854          2019-07-13 21:08:20          59696877.0          1
2300         2019-07-14 10:12:03          59701250.0          1
2317         2019-07-14 09:07:11          59726390.0          1
2342         2019-07-12 12:29:12          57365805.0          1
2348         2019-07-14 09:57:14          59701328.0          1
2397         2019-07-11 04:49:03          58511584.0          1
2458         2019-07-08 16:41:22          57421938.0          1
2477         2019-07-11 11:11:36          59440036.0          1
2482         2019-07-08 16:55:55          57421938.0          1
2555         2019-07-12 12:08:43          59676824.0          1
2559         2019-07-14 09:13:32          59665477.0          1
2576         2019-07-12 12:20:20          59687066.0          1
2768         2019-07-06 20:32:43          57373794.0          1
3068         2019-07-14 12:53:37          57019920.0          1
3906         2019-07-11 16:21:49          59719934.0          1
3907         2019-07-11 16:20:17          59716056.0          1
4182         2019-07-14 04:06:49          57371554.0          1
4436         2019-07-08 02:12:24          59729681.0          1
4443         2019-07-01 15:22:25          59434219.0          1
4961         2019-07-10 11:39:35          57026379.0          1
5466         2019-07-04 09:40:09          57412592.0          1
5649         2019-07-03 23:38:49          57402388.0          1
5880         2019-07-10 22:49:37          57434723.0          1
5947         2019-07-04 12:04:23          58509543.0          1
6403         2019-07-06 01:01:44          57414497.0          1
7248         2019-07-01 13:00:21          57359330.0          1
7883         2019-07-08 02:04:32          59732346.0          1
8450         2019-07-07 13:09:12          59726864.0          1
9584         2019-07-06 22:40:00          59674448.0          1
9739         2019-07-06 22:36:03          59444157.0          1
10245        2019-07-03 00:57:44          57437618.0          1
11392        2019-07-13 20:55:33          56996895.0          1
11419        2019-07-11 23:40:50          56992491.0          1
11441        2019-07-14 04:14:36          57362651.0          1
11445        2019-07-04 11:06:48          58507969.0          1
11487        2019-07-11 03:47:48          57360558.0          1
11527        2019-07-12 00:56:57          56996567.0          1
11758        2019-07-12 03:16:09          56572440.0          1
11866        2019-07-01 03:10:26          59674196.0          1
12293        2019-07-01 11:18:29          59682856.0          1
12433        2019-07-09 23:57:08          59724990.0          1
13722        2019-07-10 22:33:34          57005510.0          1
14234        2019-07-09 13:06:47          59725324.0          1
14332        2019-07-08 01:55:16          59642256.0          1
14379        2019-07-08 23:06:07          59642805.0          1

          Location_List Room Row  Column  Height   Room_Row  isLatest
123     [P04, 02, 3, 1]  P04  02       3       1   P04-02-3       NaN
225    [Q01, 03, 13, 1]  Q01  03      13       1  Q01-03-13       NaN
242    [Q01, 04, 12, 2]  Q01  04      12       2  Q01-04-12       NaN
628     [Q01, 20, 3, 1]  Q01  20       3       1   Q01-20-3       NaN
636     [Q01, 20, 7, 1]  Q01  20       7       1   Q01-20-7       NaN
641     [Q01, 20, 9, 2]  Q01  20       9       2   Q01-20-9       NaN
854    [Q02, 05, 12, 2]  Q02  05      12       2  Q02-05-12       NaN
2300    [Q05, 04, 1, 2]  Q05  04       1       2   Q05-04-1       NaN
2317    [Q05, 04, 6, 2]  Q05  04       6       2   Q05-04-6       NaN
2342    [Q05, 05, 6, 2]  Q05  05       6       2   Q05-05-6       NaN
2348    [Q05, 05, 9, 2]  Q05  05       9       2   Q05-05-9       NaN
2397    [Q05, 07, 9, 1]  Q05  07       9       1   Q05-07-9       NaN
2458   [Q05, 10, 13, 1]  Q05  10      13       1  Q05-10-13       NaN
2477   [Q05, 11, 10, 1]  Q05  11      10       1  Q05-11-10       NaN
2482   [Q05, 11, 12, 2]  Q05  11      12       2  Q05-11-12       NaN
2555    [Q05, 14, 3, 2]  Q05  14       3       2   Q05-14-3       NaN
2559    [Q05, 14, 5, 2]  Q05  14       5       2   Q05-14-5       NaN
2576   [Q05, 15, 13, 1]  Q05  15      13       1  Q05-15-13       NaN
2768    [Q05, 22, 8, 2]  Q05  22       8       2   Q05-22-8       NaN
3068   [Q06, 11, 11, 1]  Q06  11      11       1  Q06-11-11       NaN
3906    [Q08, 01, 6, 2]  Q08  01       6       2   Q08-01-6       NaN
3907    [Q08, 01, 7, 1]  Q08  01       7       1   Q08-01-7       NaN
4182    [Q08, 14, 5, 2]  Q08  14       5       2   Q08-14-5       NaN
4436     [Q08, A, 2, 1]  Q08   A       2       1    Q08-A-2       NaN
4443     [Q08, A, 9, 1]  Q08   A       9       1    Q08-A-9       NaN
4961   [Q09, 24, 13, 2]  Q09  24      13       2  Q09-24-13       NaN
5466    [Q10, A, 10, 1]  Q10   A      10       1   Q10-A-10       NaN
5649   [Q11, 09, 12, 2]  Q11  09      12       2  Q11-09-12       NaN
5880   [Q11, 22, 11, 1]  Q11  22      11       1  Q11-22-11       NaN
5947   [Q12, 01, 12, 1]  Q12  01      12       1  Q12-01-12       NaN
6403   [Q12, 20, 13, 1]  Q12  20      13       1  Q12-20-13       NaN
7248   [Q15, 17, 13, 1]  Q15  17      13       1  Q15-17-13       NaN
7883    [Q17, 11, 8, 1]  Q17  11       8       1   Q17-11-8       NaN
8450     [Q18, A, 1, 1]  Q18   A       1       1    Q18-A-1       NaN
9584   [Q21, 09, 13, 1]  Q21  09      13       1  Q21-09-13       NaN
9739   [Q21, 16, 13, 1]  Q21  16      13       1  Q21-16-13       NaN
10245  [Q22, 15, 12, 1]  Q22  15      12       1  Q22-15-12       NaN
11392  [Q25, 07, 11, 2]  Q25  07      11       2  Q25-07-11       NaN
11419  [Q25, 08, 12, 1]  Q25  08      12       1  Q25-08-12       NaN
11441  [Q25, 09, 11, 1]  Q25  09      11       1  Q25-09-11       NaN
11445  [Q25, 09, 13, 1]  Q25  09      13       1  Q25-09-13       NaN
11487  [Q25, 11, 10, 2]  Q25  11      10       2  Q25-11-10       NaN
11527   [Q25, 12, 9, 2]  Q25  12       9       2   Q25-12-9       NaN
11758  [Q25, 23, 10, 2]  Q25  23      10       2  Q25-23-10       NaN
11866  [Q26, 03, 12, 2]  Q26  03      12       2  Q26-03-12       NaN
12293    [Q26, A, 7, 1]  Q26   A       7       1    Q26-A-7       NaN
12433   [Q27, 06, 5, 2]  Q27  06       5       2   Q27-06-5       NaN
13722  [Q29, 16, 10, 1]  Q29  16      10       1  Q29-16-10       NaN
14234  [Q30, 17, 13, 1]  Q30  17      13       1  Q30-17-13       NaN
14332  [Q30, 23, 11, 2]  Q30  23      11       2  Q30-23-11       NaN
14379    [Q30, A, 4, 1]  Q30   A       4       1    Q30-A-4       NaN

In [61]:
df.loc[df['isLatest']!=1,'isOccupied']=0
print('Total Row Rectified : {} '.format(len(df.loc[df['isLatest']!=1,:])))

Total Row Rectified : 51

### Check for Row that transaction time is different from last pallet transaction time

In [62]:
df_pallet_last_trsn=trans_prev[['Pallet Number','Transaction Date Time']].groupby('Pallet Number')['Transaction Date Time'].max()
df_pallet_last_trsn=df_pallet_last_trsn.to_frame().reset_index()
df_pallet_last_trsn['isTrans_Latest']=1

In [63]:
df.head()

,Transaction Date Time_To,Pallet Number_To,Location,Transaction Date Time_From,Pallet Number_From,isOccupied,Location_List,Room,Row,Column,Height,Room_Row,isLatest
0,2019-07-10 15:28:19,58505088.0,P01-04-8-1,2019-07-10 15:29:38,58505088.0,0,"[P01, 04, 8, 1]",P01,04,8,1,P01-04-8,1.0
1,2019-07-10 15:13:20,58505088.0,P01-05-8-1,2019-07-10 15:28:19,58505088.0,0,"[P01, 05, 8, 1]",P01,05,8,1,P01-05-8,1.0
2,2019-07-10 15:10:39,58504142.0,P01-06-8-1,2019-07-10 15:30:19,58504142.0,0,"[P01, 06, 8, 1]",P01,06,8,1,P01-06-8,1.0
3,2019-07-10 15:31:02,58504067.0,P01-08-8-1,2019-07-10 15:31:27,58504067.0,0,"[P01, 08, 8, 1]",P01,08,8,1,P01-08-8,1.0
4,2019-07-13 21:16:00,57388156.0,P01-10-8-1,2019-07-13 21:16:16,57388156.0,0,"[P01, 10, 8, 1]",P01,10,8,1,P01-10-8,1.0

In [64]:
temp_df=df[df['isOccupied']!=0][['Pallet Number_To','Transaction Date Time_To']]

In [65]:
temp_df=temp_df.merge(df_pallet_last_trsn,how='left',
              left_on=['Pallet Number_To','Transaction Date Time_To'],
             right_on=['Pallet Number','Transaction Date Time'])

In [66]:
temp_df.loc[temp_df['isTrans_Latest']!=1,]

,Pallet Number_To,Transaction Date Time_To,Pallet Number,Transaction Date Time,isTrans_Latest
1718,56998493.0,2019-07-08 13:01:21,NaN,NaT,NaN
6956,57436543.0,2019-07-03 14:46:51,NaN,NaT,NaN

In [67]:
temp_df.loc[temp_df['isTrans_Latest']!=1,'isNotTrans_Latest']=1
temp_df=temp_df.loc[:,['Pallet Number_To','Transaction Date Time_To','isNotTrans_Latest']]

In [68]:
temp_df['isNotTrans_Latest']=temp_df['isNotTrans_Latest'].fillna(0)

In [69]:
df=df.merge(temp_df,how='left',on=['Pallet Number_To','Transaction Date Time_To'])
#df['isNotTrans_Latest']=df['isNotTrans_Latest'].fillna(0)

In [70]:
df.isOccupied.value_counts()

0     8888
1     7744
na      14
Name: isOccupied, dtype: int64

In [71]:
df.loc[df['isNotTrans_Latest']==1,'isOccupied']=0
print('Total Row Rectified : {} '.format(len(df.loc[df['isNotTrans_Latest']==1,:])))

Total Row Rectified : 2

In [72]:
df.isOccupied.value_counts()

0     8890
1     7742
na      14
Name: isOccupied, dtype: int64

In [73]:
temp=len(df[df['isOccupied']=='na'])
if temp>0:
    df.loc[df['isOccupied']=='na','isOccupied']=1
    print('Total Position Temporarily Identified as Occupied: {}'.format(temp))

Total Position Temporarily Identified as Occupied: 14

In [74]:
drop_columns(df,['isLatest','isNotTrans_Latest'])

Drop 2 columns :
['isLatest', 'isNotTrans_Latest']

### Extract Actual Pallet Number and Transaction Time of Position

In [75]:
df.loc[(df['Transaction Date Time_To']>=df['Transaction Date Time_From']) &
       (df['isOccupied']==1),'Transaction Date Time']=df['Transaction Date Time_To']
df.loc[(df['Transaction Date Time_To']==df['Transaction Date Time']),
       'Pallet Number']=df['Pallet Number_To']

In [76]:
df.sample(5)

,Transaction Date Time_To,Pallet Number_To,Location,Transaction Date Time_From,Pallet Number_From,isOccupied,Location_List,Room,Row,Column,Height,Room_Row,Transaction Date Time,Pallet Number
7545,2019-07-12 03:28:00,59704206.0,Q16-10-12-1,2019-07-12 03:18:16,59701632.0,1,"[Q16, 10, 12, 1]",Q16,10,12,1,Q16-10-12,2019-07-12 03:28:00,59704206.0
3566,2019-07-14 19:57:51,59622852.0,Q07-09-1-2,2019-07-14 11:44:50,57392764.0,1,"[Q07, 09, 1, 2]",Q07,09,1,2,Q07-09-1,2019-07-14 19:57:51,59622852.0
1687,2019-07-14 18:15:45,57131585.0,Q03-17-2-2,2019-07-14 20:30:17,57131585.0,0,"[Q03, 17, 2, 2]",Q03,17,2,2,Q03-17-2,NaT,NaN
6460,2019-07-11 23:02:21,57434457.0,Q12-22-8-2,2019-07-14 23:27:22,57434457.0,0,"[Q12, 22, 8, 2]",Q12,22,8,2,Q12-22-8,NaT,NaN
193,2019-07-14 23:00:16,59671539.0,Q01-01-9-2,2019-07-13 03:37:14,59690011.0,1,"[Q01, 01, 9, 2]",Q01,01,9,2,Q01-01-9,2019-07-14 23:00:16,59671539.0

In [77]:
drop_columns(df,['Transaction Date Time_To','Pallet Number_To','Transaction Date Time_From','Pallet Number_From','Location_List'])

Drop 5 columns :
['Transaction Date Time_To', 'Pallet Number_To', 'Transaction Date Time_From', 'Pallet Number_From', 'Location_List']

In [78]:
df.head()

,Location,isOccupied,Room,Row,Column,Height,Room_Row,Transaction Date Time,Pallet Number
0,P01-04-8-1,0,P01,04,8,1,P01-04-8,NaT,NaN
1,P01-05-8-1,0,P01,05,8,1,P01-05-8,NaT,NaN
2,P01-06-8-1,0,P01,06,8,1,P01-06-8,NaT,NaN
3,P01-08-8-1,0,P01,08,8,1,P01-08-8,NaT,NaN
4,P01-10-8-1,0,P01,10,8,1,P01-10-8,NaT,NaN

### Combine with Sitemap

In [79]:
temp_list=df['Location'].unique()
temp_list_2=sitemap['Location'].unique()

In [80]:
len(temp_list)

16646

In [81]:
Infer_frmSitemap=[c for c in temp_list_2 if c not in temp_list]

In [82]:
sitemap=sitemap[sitemap['Location'].isin(Infer_frmSitemap)]

In [83]:
sitemap.head()

,Location,Pallet Number,Transaction Date Time,isOccupied,Room,Row,Column,Height
0,P01-01-7-2,57428906.0,2019-07-20 20:18:30,1.0,P01,01,7,2
1,P01-02-7-1,0.0,NaN,0.0,P01,02,7,1
2,P01-02-7-2,0.0,NaN,0.0,P01,02,7,2
3,P01-02-8-2,0.0,NaN,0.0,P01,02,8,2
4,P01-03-5-1,58506139.0,2019-07-26 19:53:49,1.0,P01,03,5,1

In [84]:
sitemap.dtypes

Location                  object
Pallet Number            float64
Transaction Date Time     object
isOccupied               float64
Room                      object
Row                       object
Column                     int64
Height                     int64
dtype: object

In [85]:
df.dtypes

Location                         object
isOccupied                        int64
Room                             object
Row                              object
Column                            int32
Height                            int32
Room_Row                         object
Transaction Date Time    datetime64[ns]
Pallet Number                   float64
dtype: object

In [86]:
sitemap['Transaction Date Time']=pd.to_datetime(
sitemap['Transaction Date Time'],format='%Y-%m-%d %H:%M:%S')

In [87]:
sitemap['isOccupied']=sitemap['isOccupied'].astype('int64')

In [88]:
temp=list(sitemap.columns)
temp

['Location',
 'Pallet Number',
 'Transaction Date Time',
 'isOccupied',
 'Room',
 'Row',
 'Column',
 'Height']

In [89]:
df=df.append(sitemap,ignore_index=True)
print('Total Pallet Position Added from Sitemap : {}'.format(len(Infer_frmSitemap)))
print('Total Position Occupied Added from Sitemap : {}'.format(len(sitemap[sitemap['isOccupied']==1])))

Total Pallet Position Added from Sitemap : 3696
Total Position Occupied Added from Sitemap : 2665

C:\Users\Nan\AppData\Local\conda\conda\envs\env\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [92]:
df.sample(5)

,Column,Height,Location,Pallet Number,Room,Room_Row,Row,Transaction Date Time,isOccupied
18017,11,2,Q18-01-11-2,0.0,Q18,NaN,01,NaT,0
3456,7,1,Q07-03-7-1,NaN,Q07,Q07-03-7,03,NaT,0
9171,9,1,Q20-13-9-1,59617216.0,Q20,Q20-13-9,13,2019-07-14 02:02:26,1
9766,4,1,Q21-17-4-1,57416941.0,Q21,Q21-17-4,17,2019-07-13 03:10:35,1
13906,2,1,Q29-23-2-1,57375170.0,Q29,Q29-23-2,23,2019-07-14 08:57:33,1

### Summary

In [93]:
d_empty=len(df[df['isOccupied']==0])
d_occupied=len(df[df['isOccupied']==1])
#d_empty=len(df[df['isEmpty']==0])
#d_occupied=len(df[df['isEmpty']==1])

In [94]:
print('Total Pallet Position : {}'.format(len(df['Location'])))
print('Occupied Position: {:} '.format(d_occupied))
print('Occupancy Rate : {:.3f} %'.format(d_occupied/(d_empty+d_occupied)*100))

Total Pallet Position : 20342
Occupied Position: 10421
Occupancy Rate : 51.229 %

In [95]:
df.groupby('Room')['isOccupied'].sum()

Room
P01         92
P02         72
P03         77
P04        123
Q01        346
Q02        440
Q03        267
Q04        145
Q05        141
Q06        319
Q07        198
Q08        262
Q09        294
Q10        260
Q11        258
Q12        307
Q13        131
Q14        130
Q15        267
Q16        252
Q17        187
Q18        385
Q19        363
Q20        344
Q21        348
Q22        347
Q23        395
Q24        356
Q25        339
Q26        379
Q27        316
Q28        361
Q29        104
Q30        389
Q51          1
Q52          1
UNKNOWN      0
ZD02         0
ZD03         0
ZD04         0
ZD05         0
ZE02       127
ZE03         0
ZE04       149
ZE05       226
ZE06        96
ZE07        96
ZT01         0
ZT02       225
ZT03       506
Name: isOccupied, dtype: int64

In [96]:
df['isOccupied'].value_counts()

1    10421
0     9921
Name: isOccupied, dtype: int64

In [97]:
df.sample(5)

,Column,Height,Location,Pallet Number,Room,Room_Row,Row,Transaction Date Time,isOccupied
16087,3,2,ZT02-10-3-2,NaN,ZT02,ZT02-10-3,10,NaT,0
4481,5,2,Q09-02-5-2,NaN,Q09,Q09-02-5,02,NaT,0
7584,10,2,Q16-12-10-2,59675926.0,Q16,Q16-12-10,12,2019-07-13 03:29:40,1
16416,2,1,ZT02-60-2-1,NaN,ZT02,ZT02-60-2,60,NaT,0
1131,9,2,Q02-16-9-2,59708990.0,Q02,Q02-16-9,16,2019-07-14 10:23:07,1

In [98]:
df.isOccupied.value_counts()

1    10421
0     9921
Name: isOccupied, dtype: int64

In [101]:
trans[trans['Pallet Number']==59708990]

,Transaction Date Time,Customer Label Code,Dry Matter Code,Fruit,Fruit Per Pack,Fruit Size Code,Labelling Indicator Code,Location Mission Request Destination,Marketer Code,Material Number,New Value,Ok Until Date,Pack Code,Pack Date,Packed Fruit,Packhouse Code,Pack Label Code,Pack Make Code,Packs,Pallet Number,Pallet Rework Count,Plant Code,Previous Value,Protocol Code,Purchase Pool Code,Quality Inspection Indicator Code,Storage Method Code,Transaction Date,Transaction Sub Type Code,Trays,Username,Variety Code,Ok_Until_Date_day,Pack_Date_day,isDOINumber,Pack Style Code,Pack_Base,Stacking Configuration Code,isDayShift,Shift_Hour,Day_of_week,isWeekend,isActualMovement,isPackedFruitequalFruit,Previous_RoomRow,Previous_Column,Previous_Height,distance_to_driveway
19279,2019-07-03 22:42:46,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-16-6-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-16-5-1,N,1,A,CN,2019-07-03 22:42:46,MLA,228.484848,yasms,HW,17.0,-29.0,False,P1,E,N,False,22,Wed,False,True,True,Q02-16,5,1,8
19282,2019-07-03 22:43:05,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-15-8-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-16-6-1,N,1,A,CN,2019-07-03 22:43:05,MTA,228.484848,yasms,HW,17.0,-29.0,False,P1,E,N,False,22,Wed,False,True,True,Q02-16,6,1,7
35436,2019-07-06 04:18:32,N,Y,7540,52,33,GR,na,ZIL,61554,UNKNOWN,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-15-8-1,N,1,A,CN,2019-07-06 04:18:32,MLA,228.484848,geovu,HW,14.0,-32.0,False,P1,E,N,False,4,Fri,False,True,True,Q02-15,8,1,5
35440,2019-07-06 04:18:52,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-08-11-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,UNKNOWN,N,1,A,CN,2019-07-06 04:18:52,MTA,228.484848,geovu,HW,14.0,-32.0,False,P1,E,N,False,4,Fri,False,True,True,UNKNOWN,na,na,na
40250,2019-07-06 20:38:37,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-15-6-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-08-11-1,N,1,A,CN,2019-07-06 20:38:37,MTA,228.484848,geovu,HW,14.0,-32.0,False,P1,E,N,False,20,Sat,True,True,True,Q02-08,11,1,2
68336,2019-07-11 01:50:27,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-14-9-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-15-6-1,N,1,A,CN,2019-07-11 01:50:27,MTA,228.484848,teaio,HW,9.0,-37.0,False,P1,E,N,False,1,Wed,False,True,True,Q02-15,6,1,7
88391,2019-07-13 22:20:48,N,Y,7540,52,33,GR,na,ZIL,61554,UNKNOWN,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-14-9-1,N,1,A,CN,2019-07-13 22:20:48,MLA,228.484848,geovu,HW,7.0,-39.0,False,P1,E,N,False,22,Sat,True,True,True,Q02-14,9,1,4
88398,2019-07-13 22:21:07,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-12-7-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,UNKNOWN,N,1,A,CN,2019-07-13 22:21:07,MTA,228.484848,geovu,HW,7.0,-39.0,False,P1,E,N,False,22,Sat,True,True,True,UNKNOWN,na,na,na
91474,2019-07-14 10:23:07,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-16-9-2,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-12-7-1,N,1,A,CN,2019-07-14 10:23:07,MTA,228.484848,sebval,HW,6.0,-40.0,False,P1,E,N,True,10,Sun,True,True,True,Q02-12,7,1,6
111618,2019-07-17 02:13:06,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-14-6-2,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-16-9-2,N,1,A,CN,2019-07-17 02:13:06,MTA,228.484848,wayge,HW,3.0,-43.0,False,P1,E,N,False,2,Tue,False,True,True,Q02-16,9,2,4
128149,2019-07-19 09:01:00,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-14-5-1,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-14-6-2,N,1,A,CN,2019-07-19 09:01:00,MLA,228.484848,artlc,HW,1.0,-45.0,False,P1,E,N,True,9,Fri,False,True,True,Q02-14,6,2,7
128152,2019-07-19 09:01:25,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-16-10-2,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-14-5-1,N,1,A,CN,2019-07-19 09:01:25,MTA,228.484848,artlc,HW,1.0,-45.0,False,P1,E,N,True,9,Fri,False,True,True,Q02-14,5,1,8
166062,2019-07-25 01:50:55,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-15-9-2,2019-07-21,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-16-10-2,N,1,A,CN,2019-07-25 01:50:55,MTA,228.484848,palgr,HW,-5.0,-51.0,False,P1,E,N,False,1,Wed,False,True,True,Q02-16,10,2,3
199871,2019-07-30 01:18:35,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-15-9-1,2019-08-11,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-15-9-2,N,1,A,CN,2019-07-30 01:18:35,MLA,228.484848,teaio,HW,12.0,-56.0,False,P1,E,N,False,1,Mon,False,True,True,Q02-15,9,2,4
199875,2019-07-30 01:18:59,N,Y,7540,52,33,GR,na,ZIL,61554,Q02-09-2-2,2019-08-11,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-15-9-1,N,1,A,CN,2019-07-30 01:18:59,MTA,228.484848,teaio,HW,12.0,-56.0,False,P1,E,N,False,1,Mon,False,True,True,Q02-15,9,1,4
207181,2019-07-30 23:46:15,N,Y,7540,52,33,GR,CONTR,ZIL,61554,LO1,2019-08-11,10193,2019-06-05 00:00:00,7540,3TPP,N,KC1,145,59708990,0,1103,Q02-09-2-2,N,1,A,CN,2019-07-30 23:46:15,MTA,228.484848,nyosu,HW,12.0,-56.0,False,P1,E,N,False,23,Tue,False,True,True,Q02-09,2,2,11